{:global/description         {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/homepage            {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/region              {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/city                {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/address             {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/companyname         {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/fax                 {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/contactname         {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/contacttitle        {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/postalcode          {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/phone               {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/country             {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/quantity            {:db/valueType            :db.type/double
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}



 :product/quantityperunit    {:db/valueType            :db.type/string
                             :db/cardinality          :db.cardinality/one
                             :db.install/_attribute   :db.part/db}
 




 :product/product            {:db/valueType            :db.type/ref
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :product/unitsonorder       {:db/valueType            :db.type/double
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :product/discontinued       {:db/valueType :db.type/string
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 :order/requireddate         {:db/valueType :db.type/instant
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 :product/unitprice          {:db/valueType :db.type/double
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 :order/freight              {:db/valueType :db.type/double
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 :orderdetails/discount      {:db/valueType :db.type/double
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 :territory/territory        {:db/valueType :db.type/ref
                              :db/cardinality :db.cardinality/many
                              :db.install/_attribute :db.part/db}





 :product/unitsinstock       {:db/valueType :db.type/long
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}



 :person/lastname            {:db/valueType :db.type/string
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 :product/reorderlevel       {:db/valueType :db.type/long
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 :order/order                {:db/valueType :db.type/ref
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 :region/region              {:db/valueType :db.type/ref
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 :order/shippeddate          {:db/valueType :db.type/instant
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 :shipper/shipper            {:db/valueType :db.type/ref
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 :person/phoneextension      {:db/valueType :db.type/string
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}



 :product/productname        {:db/valueType :db.type/string
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}



 :territory/description      {:db/valueType :db.type/string
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 :demographics/customertype  {:db/valueType :db.type/ref
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 :emographics/customerdesc   {:db/valueType :db.type/string
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}


 :person/homephone           {:db/valueType :db.type/string
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 :person/firstname           {:db/valueType :db.type/string
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 :order/shipregion           {:db/valueType :db.type/string
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 
 :order/orderdate {:db/valueType :db.type/instant
                   :db/cardinality :db.cardinality/one
                   :db.install/_attribute :db.part/db}

 



 :order/shipcity {:db/valueType :db.type/string
                  :db/cardinality :db.cardinality/one
                  :db.install/_attribute :db.part/db}}
