{:global/description         {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/homepage            {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/region              {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/city                {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/address             {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/companyname         {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/fax                 {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/contactname         {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/contacttitle        {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/postalcode          {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/phone               {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/country             {:db/valueType            :db.type/string
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}

 :global/quantity            {:db/valueType            :db.type/double
                              :db/cardinality          :db.cardinality/one
                              :db.install/_attribute   :db.part/db}















 :person/lastname            {:db/valueType :db.type/string
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 :region/region              {:db/valueType :db.type/ref
                             :db/cardinality :db.cardinality/one
                             :db.install/_attribute :db.part/db}



 :shipper/shipper            {:db/valueType :db.type/ref
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 :person/phoneextension      {:db/valueType :db.type/string
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}





 :person/homephone           {:db/valueType :db.type/string
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 :person/firstname           {:db/valueType :db.type/string
                              :db/cardinality :db.cardinality/one
                              :db.install/_attribute :db.part/db}

 }
